<div id="<%= dom_id region %>">
  <p>
    <strong>Name:</strong>
    <%= region.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= region.country %>
  </p>

  <p>
    <strong>Cities:</strong>
    <%= region.cities %>
  </p>

</div>
